<a href="https://colab.research.google.com/github/ishank296/8weekssqlchallenge/blob/main/case_study_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [13]:
import os
import sqlalchemy

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%sql postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr

'Connected: vqpuxtpr@vqpuxtpr'

In [16]:
%%sql

DROP TABLE IF EXISTS runners;
CREATE TABLE runners (
  "runner_id" INTEGER,
  "registration_date" DATE
);

DROP TABLE IF EXISTS customer_orders;
CREATE TABLE customer_orders (
  "order_id" INTEGER,
  "customer_id" INTEGER,
  "pizza_id" INTEGER,
  "exclusions" VARCHAR(4),
  "extras" VARCHAR(4),
  "order_time" TIMESTAMP
);

DROP TABLE IF EXISTS runner_orders;
CREATE TABLE runner_orders (
  "order_id" INTEGER,
  "runner_id" INTEGER,
  "pickup_time" VARCHAR(19),
  "distance" VARCHAR(7),
  "duration" VARCHAR(10),
  "cancellation" VARCHAR(23)
);

DROP TABLE IF EXISTS pizza_names;
CREATE TABLE pizza_names (
  "pizza_id" INTEGER,
  "pizza_name" TEXT
);

DROP TABLE IF EXISTS pizza_recipes;
CREATE TABLE pizza_recipes (
  "pizza_id" INTEGER,
  "toppings" TEXT
);

DROP TABLE IF EXISTS pizza_toppings;
CREATE TABLE pizza_toppings (
  "topping_id" INTEGER,
  "topping_name" TEXT
);

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [17]:
%%sql

INSERT INTO pizza_names
  ("pizza_id", "pizza_name")
VALUES
  (1, 'Meatlovers'),
  (2, 'Vegetarian');

INSERT INTO pizza_recipes
  ("pizza_id", "toppings")
VALUES
  (1, '1, 2, 3, 4, 5, 6, 8, 10'),
  (2, '4, 6, 7, 9, 11, 12');

INSERT INTO pizza_toppings
  ("topping_id", "topping_name")
VALUES
  (1, 'Bacon'),
  (2, 'BBQ Sauce'),
  (3, 'Beef'),
  (4, 'Cheese'),
  (5, 'Chicken'),
  (6, 'Mushrooms'),
  (7, 'Onions'),
  (8, 'Pepperoni'),
  (9, 'Peppers'),
  (10, 'Salami'),
  (11, 'Tomatoes'),
  (12, 'Tomato Sauce');

INSERT INTO runner_orders
  ("order_id", "runner_id", "pickup_time", "distance", "duration", "cancellation")
VALUES
  ('1', '1', '2020-01-01 18:15:34', '20km', '32 minutes', ''),
  ('2', '1', '2020-01-01 19:10:54', '20km', '27 minutes', ''),
  ('3', '1', '2020-01-03 00:12:37', '13.4km', '20 mins', NULL),
  ('4', '2', '2020-01-04 13:53:03', '23.4', '40', NULL),
  ('5', '3', '2020-01-08 21:10:57', '10', '15', NULL),
  ('6', '3', 'null', 'null', 'null', 'Restaurant Cancellation'),
  ('7', '2', '2020-01-08 21:30:45', '25km', '25mins', 'null'),
  ('8', '2', '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
  ('9', '2', 'null', 'null', 'null', 'Customer Cancellation'),
  ('10', '1', '2020-01-11 18:50:20', '10km', '10minutes', 'null');

INSERT INTO customer_orders
  ("order_id", "customer_id", "pizza_id", "exclusions", "extras", "order_time")
VALUES
  ('1', '101', '1', '', '', '2020-01-01 18:05:02'),
  ('2', '101', '1', '', '', '2020-01-01 19:00:52'),
  ('3', '102', '1', '', '', '2020-01-02 23:51:23'),
  ('3', '102', '2', '', NULL, '2020-01-02 23:51:23'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '2', '4', '', '2020-01-04 13:23:46'),
  ('5', '104', '1', 'null', '1', '2020-01-08 21:00:29'),
  ('6', '101', '2', 'null', 'null', '2020-01-08 21:03:13'),
  ('7', '105', '2', 'null', '1', '2020-01-08 21:20:29'),
  ('8', '102', '1', 'null', 'null', '2020-01-09 23:54:33'),
  ('9', '103', '1', '4', '1, 5', '2020-01-10 11:22:59'),
  ('10', '104', '1', 'null', 'null', '2020-01-11 18:34:49'),
  ('10', '104', '1', '2, 6', '1, 4', '2020-01-11 18:34:49');

INSERT INTO runners
  ("runner_id", "registration_date")
VALUES
  (1, '2021-01-01'),
  (2, '2021-01-03'),
  (3, '2021-01-08'),
  (4, '2021-01-15');

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
2 rows affected.
2 rows affected.
12 rows affected.
10 rows affected.
14 rows affected.
4 rows affected.

[]

**A. Pizza Metrics**

How many pizzas were ordered?

In [18]:
%sql select count(1) as ordered_pizza_cnt from customer_orders

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
1 rows affected.

[(14,)]

How many unique customer orders were made?

In [19]:
%sql select count(distinct customer_id) from customer_orders

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
1 rows affected.

[(5,)]

How many successful orders were delivered by each runner?

In [20]:
%%sql 
with runner_orders_cleaned as (
select order_id,
       runner_id,
       case when upper(cancellation) in ('CUSTOMER CANCELLATION',
                                          'RESTAURANT CANCELLATION')
       then 'Y' 
       else 'N' end as "cancelled"
from runner_orders
)
select runner_id,count(distinct order_id) as num_orders
from runner_orders_cleaned where cancelled = 'N'
group by runner_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[(1, 4), (2, 3), (3, 1)]

How many of each type of pizza was delivered?

In [21]:
%%sql 
with order_with_cancel_status as 
(
select distinct
       order_id,
       case when upper(cancellation) in ('CUSTOMER CANCELLATION',
                                          'RESTAURANT CANCELLATION'
                                        ) then 'Y' else 'N' end as "cancelled"
from runner_orders
)
select c.pizza_id,
       count(1) as cnt 
from order_with_cancel_status s 
    inner join 
    customer_orders c 
    on s.order_id = c.order_id and s.cancelled = 'N'
group by c.pizza_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
2 rows affected.

[(1, 9), (2, 3)]

How many Vegetarian and Meatlovers were ordered by each customer?

In [22]:
%%sql
with customer_pizza_cnt as (
select customer_id,
       pizza_name,
       count(1) as cnt
from customer_orders c inner join pizza_names p 
on c.pizza_id =p.pizza_id
group by customer_id,pizza_name
),
customer_pizza_cnt_pivoted_tmp as (
select customer_id,
       case when upper(pizza_name) = 'VEGETARIAN' then cnt else 0 end as vegetarian,
       case when upper(pizza_name) = 'MEATLOVERS' then cnt else 0 end as meatlovers
       from customer_pizza_cnt
       
)
select customer_id, 
      sum(vegetarian) as vegetarian,
      sum(meatlovers) as meatlover
from customer_pizza_cnt_pivoted_tmp
group by customer_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
5 rows affected.

[(101, Decimal('1'), Decimal('2')),
 (103, Decimal('1'), Decimal('3')),
 (104, Decimal('0'), Decimal('3')),
 (105, Decimal('1'), Decimal('0')),
 (102, Decimal('1'), Decimal('2'))]

What was the maximum number of pizzas delivered in a single order?

In [23]:
%%sql
with cancelled_orders as 
 (
   select order_id 
   from runner_orders 
   where upper(cancellation) in ('CUSTOMER CANCELLATION',
                                 'RESTAURANT CANCELLATION') 
 )
select order_id,
      count(1) as cnt 
from customer_orders 
where order_id not in (select order_id from cancelled_orders)
group by order_id
order by cnt desc 
limit 1

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
1 rows affected.

[(4, 3)]

For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [24]:
%%sql
select customer_id,
 sum(case when (extras is null or extras = '' or extras = 'null') and 
           (exclusions is null or exclusions='' or exclusions = 'null') then 1
 else 0 end) as no_change,
 sum(case when not ((extras is null or extras = '' or extras = 'null') and 
           (exclusions is null or exclusions='' or exclusions = 'null')) then 1
 else 0 end) as change
from customer_orders
group by customer_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
5 rows affected.

[(101, 3, 0), (103, 0, 4), (104, 1, 2), (105, 0, 1), (102, 3, 0)]

How many pizzas were delivered that had both exclusions and extras?

In [29]:
%%sql
with cancelled_orders as (
  select order_id from runner_orders where upper(cancellation) in 
                                                    ('CUSTOMER CANCELLATION',
                                                     'RESTAURANT CANCELLATION')
),
orders_with_extra_exclusions as 
(
  select * 
  from customer_orders 
  where 
         not ((extras is null or extras = '' or extras = 'null') or
            (exclusions is null or exclusions ='' or exclusions = 'null'))
)
select * from orders_with_extra_exclusions where
order_id not in (select order_id from cancelled_orders)

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
1 rows affected.

[(10, 104, 1, '2, 6', '1, 4', datetime.datetime(2020, 1, 11, 18, 34, 49))]

  What was the total volume of pizzas ordered for each hour of the day?

In [53]:
%%sql
with RECURSIVE hours as (
  select 1 as hr 
  union all 
  select hr+1 from hours where hr < 24
)
Select h.hr as hr_of_day,
       sum(case when c.order_id is null then 0 else 1 end) as orders_cnt 
from hours h left join customer_orders c 
         on h.hr = cast(extract(HOUR from c.order_time) as INTEGER)
group by h.hr
order by h.hr

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
24 rows affected.

[(1, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (10, 0),
 (11, 1),
 (12, 0),
 (13, 3),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (18, 3),
 (19, 1),
 (20, 0),
 (21, 3),
 (22, 0),
 (23, 3),
 (24, 0)]

what was the volume of orders for each day of the week?

In [72]:
%%sql
 --extract(DOW from order_time)::INTEGER day_of_week,
select to_char(order_time,'DY'),
       count(1) order_cnt 
from customer_orders
group by to_char(order_time,'DY'),extract(DOW from order_time)
order by extract(DOW from order_time)

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
4 rows affected.

[('WED', 5), ('THU', 3), ('FRI', 1), ('SAT', 5)]