<a href="https://colab.research.google.com/github/ishank296/8weekssqlchallenge/blob/main/case_study_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [1]:
import os
import configparser
import sqlalchemy

In [11]:
conf=configparser.ConfigParser()
conf.read("./config")
db_pwd = conf['default']['db_password']

In [15]:
sqlalchemy.create_engine(f"postgresql://vqpuxtpr:{db_pwd}@tiny.db.elephantsql.com/vqpuxtpr")

Engine(postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr)

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%sql postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr

'Connected: vqpuxtpr@vqpuxtpr'

In [ ]:
%%sql
CREATE TABLE if not exists sales (
  "customer_id" VARCHAR(1),
  "order_date" DATE,
  "product_id" INTEGER
);

CREATE TABLE if not exists menu (
  "product_id" INTEGER,
  "product_name" VARCHAR(5),
  "price" INTEGER
);

CREATE TABLE if not exists members (
  "customer_id" VARCHAR(1),
  "join_date" DATE
);

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
Done.
Done.
Done.

[]

In [ ]:
%%sql
INSERT INTO sales
  ("customer_id", "order_date", "product_id")
VALUES
  ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3');

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
15 rows affected.

[]

In [ ]:
%%sql 
INSERT INTO menu
  ("product_id", "product_name", "price")
VALUES
  ('1', 'sushi', '10'),
  ('2', 'curry', '15'),
  ('3', 'ramen', '12');

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[]

In [ ]:
%%sql
INSERT INTO members
  ("customer_id", "join_date")
VALUES
  ('A', '2021-01-07'),
  ('B', '2021-01-09');

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
2 rows affected.

[]

In [ ]:
%sql select * from menu

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[(1, 'sushi', 10), (2, 'curry', 15), (3, 'ramen', 12)]

In [ ]:
result = %sql select * from menu
df=result.DataFrame()
df

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

   product_id product_name  price
0           1        sushi     10
1           2        curry     15
2           3        ramen     12

**Case Study Questions**

What is the total amount each customer spent at the restaurant?

In [ ]:
%%sql
with sales_agg_by_cust as 
(
select customer_id,
       product_id,
       count(1) as cnt
from sales 
group by customer_id,
        product_id
)
select a.customer_id,
       sum(a.cnt * b.price) total_amt_spent
from sales_agg_by_cust a inner join menu b on 
a.product_id = b.product_id
group by a.customer_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[('B', Decimal('74')), ('C', Decimal('36')), ('A', Decimal('76'))]

How many days has each customer visited the restaurant?

In [ ]:
%%sql
select customer_id,count(distinct order_date) from sales group by customer_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[('A', 4), ('B', 6), ('C', 2)]

What was the first item from the menu purchased by each customer?

In [ ]:
%%sql
with ranked_orders_by_customer as 
(
    select customer_id ,
           product_id, 
           row_number() over(partition by  customer_id order by order_date asc) as order_rnk
           from sales
)
select customer_id,product_id from ranked_orders_by_customer where order_rnk=1

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[('A', 1), ('B', 2), ('C', 3)]

What is the most purchased item on the menu and how many times was it purchased by all customers?

In [ ]:
%%sql
with tmp as
(
select product_id,
        count(1) cnt,
        rank() over (order by count(1) desc) as rnk
from sales 
group by product_id) 
select product_id,cnt from tmp where rnk=1

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
1 rows affected.

[(3, 8)]

Which item was the most popular for each customer?

In [ ]:
%%sql
with popular_items_by_cust as
(
 select customer_id,
        product_id,
        count(1) cnt,
        rank() over (partition by customer_id order by count(1) desc) as rnk
 from sales
 group by customer_id,
          product_id
)
select * from popular_items_by_cust where rnk=1

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
5 rows affected.

[('A', 3, 3, 1),
 ('B', 3, 2, 1),
 ('B', 1, 2, 1),
 ('B', 2, 2, 1),
 ('C', 3, 3, 1)]

Which item was purchased first by the customer after they became a member?

In [ ]:
%%sql
with orders_post_membership as 
(
select s.customer_id,
       s.product_id,
       order_date,
       row_number() over (partition by s.customer_id order by order_date) as rnk
from 
  sales s 
   inner join
     members m 
on s.customer_id = m.customer_id
and s.order_date > m.join_date
)
select customer_id,product_id,order_date
from
orders_post_membership where rnk=1

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
2 rows affected.

[('A', 3, datetime.date(2021, 1, 10)), ('B', 1, datetime.date(2021, 1, 11))]

Which item was purchased just before the customer became a member?

In [28]:
%%sql
with sales_temp as 
(
    select s.customer_id,
           s.product_id,
           s.order_date,
           row_number() over (partition by s.customer_id 
                              order by order_date desc
                              ) as rnk
    from sales s
    inner join members m on 
    s.customer_id = m.customer_id and
    s.order_date < m.join_date  
)
select m.product_name,s.customer_id from sales_temp s
inner join menu m on m.product_id=s.product_id
where rnk=1

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
2 rows affected.

[('sushi', 'B'), ('sushi', 'A')]

What is the total items and amount spent for each member before they became a member?

In [27]:
%%sql
with order_pre_membership as 
(
    select s.customer_id,
           s.product_id,
           m.price,
           s.order_date
    from sales s inner join menu m on 
           s.product_id = m.product_id
                 inner join members mm on 
           s.customer_id = mm.customer_id and
           s.order_date < mm.join_date
)
select customer_id,
       count(distinct product_id) prodcut_cnt,
       sum(price) total_amt_spent
 from order_pre_membership
 group by customer_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
2 rows affected.

[('A', 2, 25), ('B', 2, 40)]

If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

In [33]:
%%sql
with menu_points as 
(
  select product_id,
         product_name,
         price,
         case when product_name = 'sushi' then price * 2 * 10 
         else price * 10 end as points
  from menu
)
select s.customer_id,
       sum(points) total_points
from sales s
inner join 
menu_points m on s.product_id = m.product_id
group by s.customer_id

 * postgresql://vqpuxtpr:***@tiny.db.elephantsql.com/vqpuxtpr
3 rows affected.

[('B', 940), ('C', 360), ('A', 860)]

In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?